body {
  background-color: #10403e;
}

* {
  padding: 0;
  margin: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  max-width: 90%;
  margin-bottom: 0px;
  margin-top: 4px;
}

.container {
  max-width: 1224px;
  width: 90%;
  margin: auto;
  padding: 10px 0;
}

.photo-gallery {
  display: flex;
  gap: 10px;
  justify-content: center;
  height: 70vh;
  overflow: hidden;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  position: relative;
}

.scroll {
  animation: scroll 40s linear infinite;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.scroll-down {
  animation: scroll-down 40s linear infinite;
}

.photo img {
  width: 200px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.button {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--clr);
  color: #fff;
  border-radius: 10rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: var(--clr);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.button:hover {
  background-color: #000;
}

.button:hover .button__icon-wrapper {
  color: #000;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}